<div uk-grid>

  <!--div class="uk-width-1-5 uk-margin-large-top uk-padding-small">
    <ul class="uk-tab-left" uk-sticky="offset: 100; bottom: #sticky-on-scroll-up"
    uk-tab="connect: #component-tab-left; animation: uk-animation-fade"
    >

      <li><a href="#">Ajouter un Pole</a></li>
      <li><a href="#">Ajouter un NT</a></li>
      <li><a href="#">Compagnies<br>d'assurances</a></li>
      <li><a href="#">Ajouter une agence</a></li>
    </ul>
  </div-->

  <div class="uk-width-1-1">
        <div class="uk-padding-small">
            <h2 class="uk-heading-divider">BRANCHE: Automobile</h2>
            
            
            <table class="uk-table uk-table-hover uk-table-divider ">
                <thead>
                    <tr>
                        <th>N° de police</th>
                        <th>Désignation</th>
                        <th>Date effet</th>
                        <th>Date échéances</th>
                        <th>Montant prime</th>
                        <th>Ordre de paiement</th>
                        <th>N° de dossier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa<br><span class="uk-label uk-label-warning">Warning</span></td>
                        <td>2.000.000,00 DA</td>
                        <td></td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa<br><span class="uk-label uk-label-warning">Warning</span></td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td></td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa<br><span class="uk-label uk-label-danger">Danger</span></td>
                        <td>2.000.000,00 DA</td>
                        <td></td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa<br><span class="uk-label uk-label-danger">Danger</span></td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                    <tr>
                        <td>Table Data</td>
                        <td>Table Data</td>
                        <td>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                        <td>2.000.000,00 DA</td>
                        <td><i uk-icon="icon : check" class="uk-text-success uk-margin-small-right"></i>jj/mm/aaaa</td>
                        <td>jj/mm/aaaa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>