<div style="height: 76px"></div>

<form class="ui form" name="form" >
  <div class="ui top attached secondary segment">
    <input type="hidden" name="id" ng-model="profile.id">
    
    <!--img src="{{profile.gravatar}}?s=180&d=mm"-->
    <div class="ui center aligned basic segment">
      <img src="img/image.png" data-src="https://s.gravatar.com/avatar/abea01f5957411556b300b80cece3db7" height="160">
      <h2>Produit</h2>
    </div>


    <p></p>
  
  </div>
  <div class="ui attached segment">
    <p>
      <div class="ui blue ribbon label">
        <i class="openid icon"></i> Identification Produit
      </div>
    </p>

    <div class="equal width fields">
      
      <div class="four wide field">
        <label> Référance </label>
        <input type="text" placeholder="Référance" ng-model="produit.ref" required>
      </div>

      <div class="field">
        <label> Désignation </label>
        <input type="text" placeholder="Désignation du produit" ng-model="produit.des" max="100" required>
      </div>

      <div class="four wide field">
        <label> Qte </label>
        <div class="ui right labeled input">
          <input type="number" step="0.01" min="0" placeholder="Quantité" ng-model="produit.qte">
          <div class="ui dropdown label">
            <div class="text"></div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">pcs</div>
              <div class="item">u</div>
              <div class="item">M</div>
              <div class="item">mm</div>
              <div class="item">L</div>
              <div class="item">cl</div>
              <div class="item">Kg</div>
              <div class="item">g</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="equal width fields">



      <div class="field">
        <label> Prix d'achat HT </label>
        <div class="ui right labeled input">
          <input type="number" step="0.01" min="0" placeholder="Prix d'achat hors taxe" ng-model="produit.prix_a_ht">
          <div class="ui basic label">
            DA
          </div>
        </div>
      </div>
      
      <div class="field">
        <label> Frais d'achat</label>
        <div class="ui right labeled input">
          <input type="number" step="0.01" min="0" placeholder="frais sur achat" ng-model="produit.prix_frais">
          <div class="ui basic label">
            DA
          </div>
        </div>
      </div>
      
      <div class="field">
        <label> Prix de vente HT </label>
        <div class="ui right labeled input">
          <input type="number" step="0.01" min="0" placeholder="Prix de vente hors taxe" ng-model="produit.prix_v_ht">
          <div class="ui basic label">
            DA
          </div>
        </div>
      </div>

      <div class="field">
        <label> Prix de vente TTC </label>
        <div class="ui right labeled input">
          <input type="number" step="0.01" min="0" placeholder="Prix de vente hors taxe + montant de la TVA {{produit.tva + '%'}}" ng-model="produit.prix_v_ttc">
          <div class="ui basic label">
            DA
          </div>
        </div>
      </div>
      

    </div>













  </div>
  <div class="ui bottom attached right aligned secondary segment">
      
    <div class="ui info message" ng-show="msg">
      <i class="close icon"></i>
      <ul class="list">
        {{msg}}
      </ul>
    </div>

    <div class="ui cancel button" ng-click="delete()"  ng-class="{'loading':spiner_save}">
      <i class="remove icon"></i>
      Supprimer l'utilisateur
    </div>
    <button class="ui green ok button" ng-click="save()" type="submit" ng-class="{'loading':spiner_del}">
      <i class="checkmark icon"></i>
      Enregistrer
    </button>
  </div>
</form>
